<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <header>
        <div class= "menu-bar" id="myTopnav">

            <nav>
                <ul class="nav-links">

                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'movies' %}">Movies list</a></li>
                    <li><a href="#contact">Youtube</a></li>

                </ul>
                </nav>

            <div class = "topnav-right">
                <ul>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class='fas fa-search'></i></button>
                </form>
            </div>

        </div>

    </header>
 {% block content %}

    {% endblock %}

</body>
</html>